<div id="resetform">
    <form action="/" method="post">
        <input type="email"  name="resetMail" placeholder="E-mail">
        <button type="submit" >Skicka nytt lösenord</button>
    </form>
</div>